.user-header-login
  %h1.user-header-login-fmarket
    .user-header-login-fmarket-link
      = link_to root_path do
        = image_tag "/images/SVG/fmarket_logo_red.svg", alt: "Mercari",class:"fmarket-1"

.container-login-6
  .signup-panel-6
    .signup-panel-6__title
      %p.not-acount
        アカウントをお持ちでない方はこちら
      .not-acount-new-create
        = link_to  signup_regisrations_path,class: "singup-new" do
          新規会員登録
          
    .signup-panel-6__content
      %button#facebook-2
        %i.fab.fa-facebook-square.facebook-icon-2
        Facebookでログイン
        
      %button#Google-2
        %i.fab.fa-google.google-icon-2
        Googleでログイン

    .form-for-group-1
      .form-for-group-1__personal
        .form-for-group-1__personal__container
          .form-for-group-2__personal__container
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス",class:"personal-input-email"
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "current-password",placeholder: "パスワード",class:"personal-input-password"
              = f.submit "ログイン",class:"next-current_page"


%footer.user-footer
  %nav
    %ul.user-footer-container
      %li.user-footer-menu
        .user-footer-menu__1 プライバシーポリシー 
      %li.user-footer-menu
        .user-footer-menu__1 Fmarket利用規約
      %li.user-footer-menu
        .user-footer-menu__1 特定商品に関する表記 
  .user-footer__link
    = link_to root_path do
      = image_tag "/images/SVG/logo_gray.svg", alt: "Mercari", class:".user-footer-img", width: "80", height: "60"  
  %h1.user-footer__end
    %small.user-footer__year ©︎2019 Fmarket