.l-content
  %nav.mypage-choice
    %ul.mypage-choice__list
    %h3.mypage-choice__head
      マイページ
    %ul.mypage-choice__list
      %li
        =link_to user_path(@user), class: "list-item" do
          マイページ
          = icon "fas", "chevron-right", class: "chevron-right"
      %li
        =link_to new_item_path, class: "list-item" do
          出品する
          = icon "fas", "chevron-right", class: "chevron-right"
      %li
        =link_to users_path, class: "list-item" do
          出品した商品-出品中
          = icon "fas", "chevron-right", class: "chevron-right"
      %li
        =link_to show_buy_users_path, class: "list-item" do
          購入した商品-購入済
          = icon "fas", "chevron-right", class: "chevron-right"
  
    %h3.mypage-choice__head
      設定
    %ul.mypage-choice__list
      %li
        =link_to edit_user_path(@user), class: "list-item" do
          プロフィール編集
          = icon "fas", "chevron-right", class: "chevron-right"
      %li
        =link_to destroy_user_session_path, method: :delete, class: "list-item" do
          ログアウト
          = icon "fas", "chevron-right", class: "chevron-right"