= render 'shared/header2'

%nav.location
  %ul.location-pre
    %li{itemscope: true, itemtype: "#"}
      =link_to root_path, itemprop: "url" do
        %span{itemprop: "title"}
          Fマーケット
    = icon "fas", "chevron-right"
    %li{itemscope: true, itemtype: "#"}
      %span{itemprop: "title"}
        マイページ
    = icon "fas", "chevron-right"
    %li{itemscope: true, itemtype: "#"}
      %span{itemprop: "title"}
        出品中した商品-出品中

%main.major
  .r-content
    %section.deal
      %h2.deal-head
        出品した商品
      %ul.listing-tab
        %li.active
          =link_to users_path do
            %h3
              出品中
        %li
          =link_to show_buy_users_path do
            %h3
              購入済
        %li
          =link_to "#" do
            %h3
              取引中
      .main-box__items__box__frame
        %ul.i-list
          -@items.each do |item|
            %li.item
              .item-box
                =link_to item_path(item), class: "field" do
                  %figure.card
                    %figcaption
                      %span
                        = item.name
                    .style
                      %span.price
                        ¥
                        = item.price.to_i
                      = image_tag item.image_url,alt: "商品画像",class: "product"
            
    %ul.mypage-pager
      %li.pager-button
        =link_to "#" do
          = icon "fas", "chevron-left", class: "chevron-left"
      %li.pager-button
        =link_to "#" do
          = icon "fas", "chevron-right", class: "chevron-right"
  = render 'users/shared/sidebar'