= render 'shared/header2'

%nav.location
  %ul.location-pre
    %li{itemscope: true, itemtype: "#"}
      =link_to "#", itemprop: "url" do
        %span{itemprop: "title"}
          Fマーケット
    = icon "fas", "chevron-right"
    %li{itemscope: true, itemtype: "#"}
      %span{itemprop: "title"}
        マイページ
    = icon "fas", "chevron-right"
    %li{itemscope: true, itemtype: "#"}
      %span{itemprop: "title"}
        出品中した商品-出品中

%main.major
  .r-content
    %section.deal
      %h2.deal-head
        出品した商品
      %ul.listing-tab
        %li.active
          =link_to "#" do
            %h3
              出品中
        %li
          =link_to "#" do
            %h3
              取引中
        %li
          =link_to "#" do
            %h3
              取引中
      .deal-body
        %ul.i-list
          -@items.each do |item|
            %li.item
              .item-box
                =link_to item_path(item), class: "field" do
                  %figure.card
                    %figcaption
                      %span
                        = item.name
                    .style
                      %span.price
                        ¥
                        = item.price.to_i
                      = image_tag item.image_url,alt: "商品画像",class: "product"
            
    %ul.mypage-pager
      %li.pager-button
        =link_to "#" do
          = icon "fas", "chevron-left", class: "chevron-left"
      %li.pager-button
        =link_to "#" do
          = icon "fas", "chevron-right", class: "chevron-right"
  .l-content
    %nav.mypage-choice
      %ul.mypage-choice__list
        %li
          =link_to "#", class: "list-item" do
            マイページ
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            お知らせ
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            やることリスト
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            いいね！一覧
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            出品する
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item__active" do
            出品した商品-出品中
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            出品した商品-取引中
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            出品した商品-売却済
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            購入した商品-取引中
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            購入した商品-過去の取引
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            ニュース一覧
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            評価一覧
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            ガイド
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            お問い合わせ
            = icon "fas", "chevron-right", class: "chevron-right"
      %h3.mypage-choice__head
        メルペイ
      %ul.mypage-choice__list
        %li
          =link_to "#", class: "list-item" do
            売り上げ・振込申請
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            ポイント
            = icon "fas", "chevron-right", class: "chevron-right"
      %h3.mypage-choice__head
        設定
      %ul.mypage-choice__list
        %li
          =link_to "#", class: "list-item" do
            プロフィール
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            発送元・お届け先住所変更
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            支払い方法
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            メール/パスワード
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            本人情報
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            電話番号の確認
            = icon "fas", "chevron-right", class: "chevron-right"
        %li
          =link_to "#", class: "list-item" do
            ログアウト
            = icon "fas", "chevron-right", class: "chevron-right"