.header
  .header-box
    .header-box__search
      //ロゴ//
      .header-box__search__logo
        = link_to image_tag "/assets/SVG/fmarket_logo_red.svg", alt: "Mercari", width: "140"
      //検索フォーム//
      %form#form01{action: "search"}
        //検索欄//
        %input#input01{type: "search", name: "keyword", placeholder: "何かお探しですか？"}
          //検索ボタン//
          %button#submit01
            = icon "fas", "search"
        
    .header-box__nav
      .header-box__nav__type
        .header-box__nav__type__ca
          %a{href: '#', class: "select1"}
            = icon "fas", "list-ul", class: "list-ul"
            カテゴリーから探す
        .header-box__nav__type__bl
          %a{href: '#', class: "select1"}
            = icon "fas", "tag", class: "tag"
            ブランドから探す
      %ul.header-box__nav__list
        %li.header-box__nav__list__a
          %a{href: '#', class: "select2"}
            = icon "far", "heart", class: "heart"
            いいね！一覧
        %li.header-box__nav__list__b
          %a{href: '#', class: "select2"}
            = icon "far", "bell", class: "bell"
            お知らせ
        %li.header-box__nav__list__b
          %a{href: '#', class: "select2"}
            = icon "fa", "check", class: "check"
            やることリスト
        %li.header-box__nav__list__a
          %a{href: '#', class: "select2"}
            = image_tag "", alt: "Unknown", class: "user-image"
            マイページ