%header.signup-header
  .signup-header__containar
    %h1
      %a
        = image_tag "/images/SVG/fmarket_logo_red.svg", alt: "Mercari"
    %nav.signup-bar
      %ol
        %li
          会員情報
          .progress-status1
        %li
          電話番号認証
          .progress-status2
        %li.li--active
          お届け先住所入力
          .progress-status3
        %li
          支払い方法
          .progress-status4
        %li
          完了
          .progress-status5

.container-delivery
  .container-delivery__main

    .signup-panel-5
      %p.signup-panel-5__title 発送元・お届け先入力

      .signup-panel-5__content
        .signup-panel-5__inherit
          .signup-panel-5__inherit__form-group__center
            %label.new-user-create
              お名前
            %span.require-5
              必須
            %input.signup-panel-5__inherit__input-default{placeholder: current_user.last_name}
          .signup-panel-5__inherit__form-group__center
            %input.signup-panel-5__inherit__input-default{placeholder: current_user.first_name}

          .signup-panel-5__inherit__form-group__end
            %label.new-user-create
              お名前カナ
            %span.require-5
              必須
            %input.signup-panel-5__inherit__input-default{placeholder: current_user.last_kana}

          .signup-panel-5__inherit__form-group__center
            %input.signup-panel-5__inherit__input-default{placeholder: current_user.first_kana}

          .signup-panel-5__inherit__form-group__end
            = form_for @address,url: address_create_regisration_index_path, method: :post do |f|
              - if @address.errors.any?
                %h2= "#{@address.errors.full_messages.count}"
              - @address.errors.full_messages.each do |message|
                %li= message
              %label.new-user-cre 
                郵便番号
              %span.require-5
                必須
              = f.text_field :post_no,placeholder: "例）123ー4567",class:"signup-panel-5__inherit__input-default"
          
              %label.new-user-create
                都道府県
              %span.require-5
                必須
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name,class:"signup-panel-5__inherit__input-default"

              %label.new-user-create
                市町村区
              %span.require-5
                必須
              = f.text_field :city,placeholder: "例）横浜市緑区",class:"signup-panel-5__inherit__input-default"

              %label.new-user-create
                番地
              %span.require-5
                必須
              = f.text_field :town,placeholder:" 例）青山1-1-1",class:"signup-panel-5__inherit__input-default"

              %label.new-user-create
                建物名
              %span.any-5
                任意
              = f.text_field :building,placeholder: "例）柳ビル103",class:"input.signup-panel-5__inherit__input-default"

              %label.new-user-create
                電話
              %span.any-5
                任意
              = f.text_field :tell,placeholder:"例）09012345678",class:"signup-panel-5__inherit__input-default"

              = f.submit"お支払い方法等登録へ",class:"next-current_page-5"
          

%footer.user-footer
  %nav
    %ul
      %li
        %a プライバシーポリシー 
      %li
        %a Fmarket利用規約
      %li
        %a 特定商品に関する表記 
  %a
    = link_to root_path do
      = image_tag "/assets/SVG/logo_gray.svg", alt: "Mercari", width: "80", height: "60"  
    %p 
      %small ©︎2019 Fmarket
