= form_for @user, url: regisration_index_path, method: :get, html: {class: 'second-wrapper__box'} do |f|
  住所登録
  = f.fields_for :address do |b|
    都道府県
    = b.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--",multiple: true
    郵便番号
    = b.text_field :post_no,multiple: true
    市町村区
    = b.text_field :city,multiple: true
    番地以下
    = b.text_field :town,multiple: true
    建物名など
    = b.text_field :building,multiple: true
    電話番号
    = b.text_field :tell_no,multiple: true
  = f.submit "次へ"