= form_for @user,url: regisration_index_path, method: :post, html: {class: 'second-wrapper__box'} do |f|
  = current_user.nickname
  = f.fields_for :address do |b| 
    都道府県
    = b.collection_select :prefecture_id, Prefecture.all, :id, :name
    郵便番号
    = b.text_field :post_no
    市町村区
    = b.text_field :city
    番地以下
    = b.text_field :town
    建物名など
    = b.text_field :building
    電話番号
    = b.text_field :tell
  = f.submit "次へ"


  