.main
  .main-box
    .main-box__ad
    .main-box__show
      %h2.big-heading
        全ての商品一覧
      .main-box__show__frame
        %ul.f-list
          %li.f-list__ca
            =link_to "#", class: "choice1" do
              子供服
    .main-box__items
      .main-box__items__box
        .main-box__items__box__heading
          .main-box__items__box__heading__text
            新着アイテム
          .main-box__items__box__heading__more
            =link_to "#", class: "more" do
              もっと見る
        .main-box__items__box__frame
          %ul.i-list
            -@items.each do |item|
              %li.item
                .item-box
                  =link_to item_path(item), class: "field" do
                    %figure.card
                      %figcaption
                        %span
                          = item.name
                      .style
                        %span.price
                          ¥
                          = item.price.to_i
                        = image_tag item.image_url,alt: "商品画像",class: "product"
                     
.exhibit
  =link_to "/items/new", class: "button" do
    .button-mark
      .button-mark__text
        出品
      = icon "fas", "camera", class: "camera"

= render "shared/item_footer"