= render 'devise/shared/user_header'

%main.main
  %section.main-container
    #main-container__sell
      .main-container__sell__inner
        %h2.main-container__sell__inner__top 商品情報を入力
        = form_for @item do |f|
          .main-container__sell__inner__box
            %h3.main-container__sell__inner__box__top
              =f.label :image, "出品画像"
            %span.main-container__sell__inner__box__require
              必須
            %p.main-container__sell__inner__box__content
              最大10枚までアップロードできます

            .main-container__sell__inner__box__upload
              .main-container__sell__inner__box__upload__files
              =f.file_field :image
              
          .main-container__sell__inner__form
            .main-container__sell__inner__form__content
              %label.main-container__sell__inner__form__content__label
                =f.label :name, "商品名"
                %span.main-container__sell__inner__form__content__label__require
                  必須
                .main-container__sell__inner__form__content__field
                =f.text_field :name, placeholder: "商品名", class: "main-container__sell__inner__form__content__field__input"

            .main-container__sell__inner__form__text
              %label.main-container__sell__inner__form__text__label
                商品の説明
                %span.main-container__sell__inner__form__text__label__require
                  必須
              %textarea.main-container__sell__inner__form__text__area{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}

          .main-container__sell__inner__clearfix
            %h3.main-container__sell__inner__clearfix__top
              商品の詳細
            .main-container__sell__inner__clearfix__form
              .main-container__sell__inner__clearfix__form__box1
                %label.main-container__sell__inner__clearfix__form__box1__label
                  カテゴリー
                  %span.main-container__sell__inner__clearfix__form__box1__label__require
                    必須
                %div
                  .main-container__sell__inner__clearfix__form__box1__select
                    %select.main-container__sell__inner__clearfix__form__box1__select__1
                    %i.fas.fa-angle-down

            .main-container__sell__inner__clearfix__form2
              .main-container__sell__inner__clearfix__form2__box1
                %label.main-container__sell__inner__clearfix__form2__box1__label
                  商品の状態
                  %span.main-container__sell__inner__clearfix__form2__box1__label__require
                    必須
                %div
                  .main-container__sell__inner__clearfix__form2__box1__select
                    %select.main-container__sell__inner__clearfix__form2__box1__select__1
                    %i.fas.fa-angle-down
          
          .main-container__sell__inner__sell
            %h3.main-container__sell__inner__sell__top
              配送について
            = link_to "?", "#", class: "main-container__sell__inner__sell__question", target: :_blank
            .main-container__sell__inner__sell__form
              .main-container__sell__inner__sell__form__box1
                %label.main-container__sell__inner__sell__form__box1__label
                  配送料の負担
                  %span.main-container__sell__inner__sell__form__box1__require
                    必須
                .main-container__sell__inner__sell__form__box1__select
                  %select.main-container__sell__inner__sell__form__box1__select__1
                  %i.fas.fa-angle-down

              .main-container__sell__inner__sell__form__box2
                %label.main-container__sell__inner__sell__form__box2__label
                  配送元の地域
                  %span.main-container__sell__inner__sell__form__box2__require
                    必須
                .main-container__sell__inner__sell__form__box2__select
                  %select.main-container__sell__inner__sell__form__box2__select__1
                  %i.fas.fa-angle-down

              .main-container__sell__inner__sell__form__box3
                %label.main-container__sell__inner__sell__form__box3__label
                  発送までの日数
                  %span.main-container__sell__inner__sell__form__box3__require
                    必須
                .main-container__sell__inner__sell__form__box3__select
                  %select.main-container__sell__inner__sell__form__box3__select__1
                  %i.fas.fa-angle-down

          .main-container__sell__inner__price
            %h3.main-container__sell__inner__price__top
              販売価格(300〜9,999,999)
            = link_to "?", "#", class: "main-container__sell__inner__sell__question", target: :_blank
            .main-container__sell__inner__price__form
              %ul.main-container__sell__inner__price__form__box1
                %li.main-container__sell__inner__price__form__box1__price
                  .main-container__sell__inner__price__form__box1__price__clearfix
                    %label.main-container__sell__inner__price__form__box1__price__clearfix__label
                      価格
                      %span.main-container__sell__inner__price__form__box1__price__clearfix__require
                        必須
                    .main-container__sell__inner__price__form__box1__price__clearfix__input
                      ¥
                      .main-container__sell__inner__price__form__box1__price__clearfix__input__default
                        %input.main-container__sell__inner__price__form__box1__price__clearfix__input__default__box{placeholder: "例）300"}

                %li.main-container__sell__inner__price__form__box1__fee
                  .main-container__sell__inner__price__form__box1__fee__left
                    販売手数料(10%)
                  .main-container__sell__inner__price__form__box1__fee__right
                    ー
                %li.main-container__sell__inner__price__form__box1__profit
                  .main-container__sell__inner__price__form__box1__profit__left
                    販売利益
                  .main-container__sell__inner__price__form__box1__profit__right
                    ー
          .main-container__sell__inner__btn-box
            .main-container__sell__inner__btn-box__content
              %p.main-container__sell__inner__btn-box__content__sentence
                %a{href: "https://www.mercari.com/jp/help_center/getting_started/prohibited_items/"} 禁止されている出品
                、
                %a{href: "https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"} 行為
                を必ずご確認ください。
              %p.main-container__sell__inner__btn-box__content__sentence
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                %a{href: "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"} 偽ブランドの販売
                は犯罪であり処罰される可能性があります。
              %p.main-container__sell__inner__btn-box__content__sentence
                また、出品をもちまして
                %a{href: "https://www.mercari.com/jp/seller_terms/"} 加盟店規則
                に同意したことになります。
            = f.hidden_field :saler,value: current_user.id
            = f.submit "出品する", class: "main-container__sell__inner__btn-box__btn"
            = link_to "もどる", "https://www.mercari.com/jp/", class: "main-container__sell__inner__btn-box__btn__gray"

= render 'devise/shared/user_footer'