%header.signup-header-new
  .signup-header-new__containar
    %h1.signup-header-new-panel
      .signup-header-new-icon
        = link_to image_tag "/images/SVG/fmarket_logo_red.svg", alt: "Mercari",class: "sign-up-new-img"

.purchase-container
  .purchase-container__main
    .purchase-container__main__signup-panel
      %h2.purchase-container__main__signup-panel__title 購入内容の確認

      .purchase-container__main__signup-panel__content-2
        .purchase-container__main__signup-panel__inherit-2
          %h3.buy-item-content
            = image_tag @item.image.url,size: "64x64"
            %p.buy-item-name
              =@item.name
          = form_with(class: "form-buy-item") do
            %p.buy-item-price
              ¥
              =@item.price
              %span.buy-item-postage
                送料込み
              .buy-item-method-point
                .buy-item-method-point__buy-point
                  .buy-item-method-point__buy-point__not-have-point
                    ポイントはありません
              .buy-item-method-payment
                .buy-item-method-payment__content
                  .buy-item-method-payment__content__credit
                    お支払い金額
                .buy-item-method-payment__content__credit__number
                  %span.payment-credit
                    ¥
                    =@item.price
              = link_to pay_card_path(@item) ,method: :post do
                %button.buy-credit
                  購入する
      .shipping-address-content
        .shipping-address-content__display
          %h3.shipping-address 配送先
          .shipping-address-buy-user
            〒
            = @user.address.post_no
            %br
            = @user.address.prefecture.name
            = @user.address.city
            = @user.address.town
            = @user.address.building
            %br
            = @user.last_name
            = @user.first_name
          %p.shipping-address-text

      .method-payment-user
        .method-payment-user__buy
          %h3.payment-method-credit お支払い方法
          - if @default_card_information.blank?
            %br /
          - else
            %p.payment-method-credit-number
              = "**** **** **** " + @default_card_information.last4
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
          .credit-visa-img
            = image_tag "/assets/VISAロゴデータ.png",size: "50x30"

%footer.user-footer
  %nav
    %ul.user-footer-container
      %li.user-footer-menu
        .user-footer-menu__1 プライバシーポリシー 
      %li.user-footer-menu
        .user-footer-menu__1 Fmarket利用規約
      %li.user-footer-menu
        .user-footer-menu__1 特定商品に関する表記 
  .user-footer__link
    = link_to root_path do
      = image_tag "/assets/SVG/logo_gray.svg", alt: "Mercari", class:".user-footer-img", width: "80", height: "60"  
  %h1.user-footer__end
    %small.user-footer__year ©︎2019 Fmarket