%header.signup-header
  .signup-header__containar
    %h1
      %a
        = image_tag "/assets/SVG/fmarket_logo_red.svg", alt: "Mercari"


    %nav.signup-bar
      %ol
        %li.li
          会員情報
          .progress-status1
        %li.li--active
          電話番号認証
          .progress-status2
        %li
          お届け先住所入力
          .progress-status3
        %li
          支払い方法
          .progress-status4
        %li
          完了
          .progress-status5



.container-login-phone-number
  .main-phone-number
    .signup-panel
      %p.signup-panel__title 電話番号の確認
      .signup-panel__content-2
        .signup-panel__inherit-2
          = form_for @user, url: regisrations_path, method: :post do |f|
            - if @user.errors.any?
              - @user.errors.full_messages.each do |message|
                %li= message
            .signup-panel__inherit-2__form-group-2
              %label.phone-number
                携帯電話の番号
              =f.text_field :tell_no,placeholder: "携帯電話の番号を入力",class:"input.signup-panel__inherit-2__input-default"
            %p.caution-2
              本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            %button.sns-send
              SNSを送信する
            %p.signup-panel__inherit-2__form-group-2__description__text
              ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .signup-panel__inherit-2__form-group-2__text-2
              %a.description-2__link{href: ''}電話番号の確認が必要な理由＞

%footer.user-footer
  %nav
    %ul
      %li
        %a プライバシーポリシー 
      %li
        %a Fmarket利用規約
      %li
        %a 特定商品に関する表記 
  %a
    = link_to root_path do
      = image_tag "/assets/SVG/logo_gray.svg", alt: "Mercari", width: "80", height: "60"  
    %p 
      %small ©︎2019 Fmarket
